
services:
  next-ts-app:
    container_name: next-ts-app
    build:
      context: ./
      dockerfile: dev.DockerFile
    environment:
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY : .env.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
      CLERK_SECRET_KEY : .env.CLERK_SECRET_KEY
      NEXT_PUBLIC_CLERK_SIGN_IN_URL : .env.NEXT_PUBLIC_CLERK_SIGN_IN_URL
      NEXT_PUBLIC_CLERK_SIGN_UP_URL : .env.NEXT_PUBLIC_CLERK_SIGN_UP_URL
      NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL : .env.NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL
      NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL : .env.NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL
      
    volumes:
      - ./next-ts-app/app:/app/app
      - ./next-ts-app/public:/app/public
    restart: always
    networks:
      - my_network

  # Add more containers below

networks:
  my_network:
    external: true
