
services:
  docker-next:
    container_name: next-ts-app
    build:
      context: ./
      dockerfile: prod.Dockerfile
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY : .env.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
        CLERK_SECRET_KEY : .env.CLERK_SECRET_KEY
        NEXT_PUBLIC_CLERK_SIGN_IN_URL : .env.NEXT_PUBLIC_CLERK_SIGN_IN_URL
        NEXT_PUBLIC_CLERK_SIGN_UP_URL : .env.NEXT_PUBLIC_CLERK_SIGN_UP_URL
        NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL : .env.NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL
        NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL : .env.NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL
    restart: always
    networks:
      - my_network
  # More containers can be added below

networks:
  my_network:
    external: true
